.footer {
    max-width: 100%;
    height: 2rem;
    padding: 1rem;
    margin-top: 5rem;
    background-color: #656970;
}

.links {
    font-weight: bolder;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.icon {
    color: black;
    font-size: 1rem;
    margin: 0 0.2rem;
}

a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.links li,
.links li.emailItem {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid #656970;
}

.links li:hover {
    border-bottom: 1px solid #cccac4;
}

@media(max-width: 500px) {
    .links li.emailItem {
        display: none;
    }
}