.main { 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}